.NavigationIcon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.MenuIcon a {
	display: none;
	text-decoration: none;
	color: #525252;
	margin-block: 0;
	padding: 1rem 0 1rem 0;
}

.MenuToggleIcon.active ~ .MenuIcon a {
	display: block;
	min-width: 100%;
	font-size: 1.5rem;
	background-color: transparent;
	text-align: center;
}
.MenuToggleIcon.active ~ .MenuIcon {
	background-color: #fff;
	box-shadow: -0.5rem 0.5rem 2rem #52525250;
	min-width: 17rem;
	border-radius: 1rem;
}
.MenuToggleIcon.active ~ .MenuIcon a:hover {
	font-size: 1.5rem;
	background-color: #fcb23b;
	max-width: 17rem;
}
.MenuToggleIcon.active ~ .MenuIcon a:first-child:hover {
	border-radius: 1rem 1rem 0 0 ;
}
.MenuToggleIcon.active ~ .MenuIcon a:last-child:hover {
	border-radius: 0 0 1rem 1rem ;
}
.MenuIcon {
	position: absolute;
	width: 17rem;
	height: auto;
	border-radius: 0.5rem;
	/* z-index: -1; */
	cursor: pointer;
}
.MenuToggleIcon.active ~ .MenuIcon {
	width: 17rem;
	height: auto;
	transform: translateY(9rem);
}
.MenuToggleIcon.active ~ .MenuIcon::after {
	content: '';
	width: 3rem;
	height: 3rem;
	position: absolute;
	background-color: #fff;
	right: 50%;
	top: -3rem;
	box-shadow: -0.5rem 0.5rem 2rem #52525250;
	transform: translateX(50%);
	border-radius:  50% 50% 0 0;
  z-index: -10;
}
.MenuToggleIcon.active img {
	width: 3.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.counter{
  position:absolute;
  font-size:1.3rem;
  background:#FFF;
  width:auto;
  min-width:2rem;
  height:2rem;
  border-radius:2rem;
  top:-1rem;
  right:-1rem;
  z-index:1;
}