.MapaRutas{
    /* background-color: red; */
    width: 95%;
    height: 40rem ;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 2rem;
}
.ColumnasRutas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
    margin: 0 auto;
}
.ContenidoIdentificacion{
    margin-top: 2rem;
}
.DerroteroRuta{
    width: 95%;
    min-height: 20rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: -.5rem .5rem 2rem #cdcdcd90 ;
    margin-bottom: 2rem;
}
.DerroteroRuta>div{
    width: 95%;
    margin-top: 1rem;
}