.BtnChico{
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 11rem;
    text-align: center;
    color: #fff;
    display: inline-block;
    border-radius: 1rem;
}
.BtnChico p{
    margin-block: 0;
    padding: .5rem 0;

}
.BtnChicoBorderNegro, .BtnChicoBorderGris{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;
    display: inline-block;
    border-radius: 1rem;   
}
.BtnChicoBorderGris{
    color: var(--gris);
}
.BtnChicoBorderNegro{
    color: var(--grisHover);
}
.BtnMediano{
    width: 4rem;
    height:4rem;
    border-radius: 1rem;
}
.BtnGrande{
    width: 5rem;
    height:5rem;
    border-radius: 10rem;  
}

.BtnAmarillo, .IconoAmarillo, .CampoAmarillo, .PropiedadAmarillo{
    background-color: var(--amarillo);
}
.BtnBorderNegro, .IconoBorderNegro, .CampoBorderNegro, .PropiedadBorderNegro{
    border: .3rem solid var(--grisHover);
}
.BtnRojo, .IconoRojo, .CampoRojo, .PropiedadRojo{
    background-color: var(--rojo);
}
.BtnGris, .IconoGris, .CampoGris, .PropiedadGris{
    background-color: var(--gris);
}
.BtnVerde, .IconoVerde, .CampoVerde, .PropiedadVerde{
    background-color: var(--verdeBandera);
}
.BtnAzul, .IconoAzul, .CampoAzul, .PropiedadAzul{
    background-color: var(--azul);
}
.BtnBorderGris, .IconoBorderGris, .CampoBorderGris, .PropiedadGris{
    border: .3rem solid var(--gris);
    opacity: 50%;
}
.BtnMagenta, .IconoMagenta, .CampoMagenta, .PropiedadMagenta{
    background-color: var(--magenta);
}
.BtnAmarillo:hover, .BtnBorderNegro:hover, .BtnRojo:hover, .BtnGris:hover, .BtnVerde:hover, .BtnAzul:hover, .BtnBorderGris:hover, .BtnMagenta:hover, .BtnAmarillo:hover, .IconoAmarillo:hover, .IconoBorderNegro:hover, .IconoRojo:hover, .IconoGris:hover, .IconoVerde:hover, .IconoAzul:hover, .IconoBorderGris:hover, .IconoMagenta:hover, .IconoAmarillo:hover{
    opacity: 50%;
    cursor: pointer;
}
.CampoMorado{
    background-color: var(--morado);
}
.CampoAqua{
    background-color: var(--aqua);
}
.Icono{
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
}