.CardsPorcentajes p, .CardsPorcentajesDarkMode p{
    font-size: 1rem;
    margin-block: 0;
    padding-top: 0;
    padding-bottom: .2rem;
    color: #B3B3B3;
}
.CardsPorcentajesDarkMode{
    margin-top: 1rem;
    width: 25rem;
    background-color: #333333;
    border-radius: 2rem;
    box-shadow: -.5rem .5rem 2rem #252525;
    min-height: 20rem;
    height: 45rem;
}
.CardsPorcentajes{
    margin-top: 1rem;
    width: 25rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: -.5rem .5rem 1rem #cdcdcd;
    min-height: 20rem;
    height: 45rem;
}
.CardPorcentajesHombresMujeres div{
    margin: 0 auto;
}
.CardPorcentajesHombresMujeres p{
    font-size: 1.1rem;
}