.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50vh;
  left: 0;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.IconoCerrarModalPrevisualizar {
  transform: translate(125rem, -30rem);
  cursor: pointer;
  z-index: 0;
}
.IconoCerrarModalGraficas {
  transform: translate(125rem, -25rem);
  cursor: pointer;
  z-index: 0;
}

.AsideCardsDarkMode {
  width: 9rem;
  height: 36rem;
  border-radius: 0 2rem 2rem 0;
  background-color: #333333;
  box-shadow: -0.5rem 0.5rem 2rem #252525;
}
.AsideCards {
  width: 9rem;
  height: 36rem;
  border-radius: 0 2rem 2rem 0;
  background-color: #fff;
  box-shadow: -0.5rem 0.5rem 1rem #cdcdcd;
}
.ContenedorBotonesAside {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.BotonAside:not(:last-of-type) {
  margin-bottom: 2rem;
}
