.EncabezadoCard{
    max-width: 90%;
    padding-top: .5rem;
    margin:auto auto;
    padding-bottom: 1rem;
}
.DireccionCards{
    padding: 1.5rem 0 0 0;
}
.MedidasCards{
    justify-content: left;
    max-width: 100%;
    margin: 1rem 0  1rem 0;
    text-align: left;
}
.InicioFinCards{
    position: absolute;
    left: 5%;
    top:60%;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.CampoFechaInicioFin{
    width: 100%;
    text-align: left;
}
.CampoFechaInicioFin span{
    font-size: 1.5rem;
}
.DescuentoCards{
    position: absolute;
    margin: 0 auto;
    max-width: 90%;
    left: 5%;    
    top:80%;
}
.DescuentoCards .CampoTitulo span{
    text-align: left;
}
.TitleDescriptionCards{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2rem;
}
.DescripcionCards{
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
}
.TextOverflowDescription{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 4; /* number of lines to show */ 
    -webkit-box-orient: vertical;
}
.CardsPaddings{
    padding: 3rem;
}
.CardAsideFlex{
    display: flex;
}
.ContenedorCards{
    width: 35rem;
    height: 36rem;
    position: relative;
}
.CardDarkMode{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    background-color: #333333;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -.5rem .5rem 2rem #252525 ;
}
.Card{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
    background-color: #fff;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -.5rem .5rem 2rem #cdcdcd ;
}
.EtiquetaIdentificacion{
    position: relative;
    top: 18.5%;
    left: -2rem;
}