:root{
    --azul: #126EFA;
    --azulHover: #003c97;
    --azulOpaco: #126ffa73;
    --rojo: #FC3D38;
    --rojoHover: #8a0500;
    --aqua: #1CB5B2;
    --magenta: #D11787;
    --magentaOpaco: #d117877c;
    --amarillo:#FCB23B;
    --amarilloHover:#c97c00;
    --morado: #874AFA;
    --verdeLima: #BFEB08;
    --verdeBandera: #1CBF59;
    --verdeBanderaHover: #058634;
    --gris: #525252;
    --grisHover: #353535;
}


.PropiedadRojo, .PropiedadAmarillo, .PropiedadAzul, .PropiedadBorderGris, .PropiedadBorderNegro, .PropiedadGris, .PropiedadMagenta, .PropiedadVerde{
    color: #fff;
    border-radius: .5rem;
    min-width: 8.5rem;
    margin: .5rem auto;
    text-align: center;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.Propiedad{
    background-color: var(--gris);
    color: #fff;
    border-radius: .5rem;
    min-width: 8.5rem;
    margin: .5rem auto;
    text-align: center;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .3;
    margin-bottom: .5rem;
}