/*Campos Descriptivos*/
.CampoDescriptivo span{
    width: 95%;
    font-size: 1.5rem;
    text-align: left;
}
.CampoTituloDarkMode{
    font-weight: bold;
    opacity: 100%;
    font-size: 1.2rem;
    text-align: left;
    color: #B3B3B3;
}
.CampoTitulo{
    font-weight: bold;
    opacity: 100%;
    font-size: 1.2rem;
    text-align: left;
    color: #525252;
}

.CampoDescripcionDarkMode{
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 75%;
    text-align: left;
    color: #B3B3B3;
}
.CampoDescripcion{
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 75%;
    text-align: left;
    color: #525252;
}
.CampoDescriptivo{
    margin: .2rem 0 0 1.5rem;
    text-align: left;
}
