.ClaveCardsDarkMode {
  font-size: 3rem;
  margin-bottom: 0;
  margin-block: 0;
  text-align: left;
  color: #b3b3b3;
}
.ClaveCards {
  font-size: 3rem;
  margin-bottom: 0;
  margin-block: 0;
  text-align: left;
  color: #525252;
}
.TipoCardsDarkMode {
  margin-block: 0;
  font-size: 1.9rem;
  font-weight: normal;
  opacity: 0.5;
  text-align: left;
  color: #b3b3b3;
}
.TipoCards {
  margin-block: 0;
  font-size: 1.9rem;
  font-weight: normal;
  opacity: 0.5;
  text-align: left;
  color: #525252;
}
